@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: 12px;
  margin: 0;
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  background-color: none;
  transition: 0.2s;
}
.btn--primary {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.btn--primary:hover {
  background-color: #b9d0ff;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5E81FE;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-style: 12px;
  font-weight: 500;
  color: #697ca6;
  text-decoration: none;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #6988FF;
  font-weight: 700;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6988FF;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item-link path {
  fill: #697ca6;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #6988FF;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  background-color: #f4f7ff;
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
}

.section-stats {
  background-color: #e9efff;
}
.section-stats .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer {
  border-bottom: none;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* // FOOTER END */