@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');


// Mixin
@mixin roboto {
    font-family: 'Roboto', sans-serif; 
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
    padding: 0;
    margin: 0;
    list-style: none;
}
// Mixin ends

// Functions
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}
// Functions ends

// Variables
// $breakpoint-xs-min: 0;
$breakpoint-sm-min: 576px;
$breakpoint-xs-max: $breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$base: rem(4px);

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: rem(10px);
$fs-xs: rem(12px);
$fs-s: rem(15px);
$fs-m: rem(18px);
$fs-l: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: .2s;

$color-white: #fff;

// $color-primary: #495274;
// $color-blue: #6188FF;

// Yellow
$color-yellow-500: #FFC735;

// Cian 
$color-cian-500: #35AAFF;

// Red
$color-red-500: #FF3535;
$color-red-600: #D43F3F;


// Grey
$color-primary-50: #D1D1E4;
$color-primary-100: #C7D3FF;
$color-primary-200: #AEB8D0;
$color-primary-300: #adb4d2;
$color-primary-400: #8E96B7;
$color-primary-500: #8d96bd; //
$color-primary-600: #7382a3;
$color-primary-700: #7A85AD;
$color-primary-800: #676F95;
$color-primary-900: #495274; 

// Blue
$color-blue-50: #A0B4FF;
$color-blue-100: #6888FF;
$color-blue-200: #6188ff;
$color-blue-300: #5E80FF;
$color-blue-400: #5E81FE;
$color-blue-500: #4c85ff;
$color-blue-600: #5283FF;
$color-blue-700: #3A79FF;
$color-blue-800: #4074F8;
$color-blue-900: #3D4F9F;

$color-devider: $color-primary-50;

// Variables ends

// Common

// html {
//     @media (max-width: $breakpoint-md-max) {
//         font-size: 14px;
//     }

//     @media (max-width: $breakpoint-sm-max) {
//         font-size: 10px;
//     }
// }

body {
    @include roboto;

    color: #8d968d;
}

.section-outer {
    border-bottom: 1px solid $color-devider;
    padding: 0 $base*5;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.input {
    padding: $base*3 $base*4;
    font-size: $fs-xs;
    border: 1px solid transparent;
    color: $color-primary-700;
    background: #EFEFF7;
    border-radius: $base/2;

    &--size-lg {
        padding: $base*5 $base*6;
        border-radius: $base; 
    }
}

.btn {
    @include quicksand;

    font-weight: $fw-bold;
    font-size: $fs-xs;

    display: inline-block;
    margin: 0;
    padding: $base*3 $base*4;
    border: 1px solid transparent;
    border-radius: $base/2;
    text-decoration: none;
    background: none;
    white-space: nowrap;
    transition: $transition;
    box-sizing: border-box;
    cursor: pointer;

    &--size-lg {
        padding: $base*5 $base*15;
        border-radius: $base;
    }

    &--primary {
        background-color: #D2E1FF;
        color: $color-blue-700;

        &:hover {
            background-color: darken(#D2E1FF, 5%);
        }

        &-inverted {

        }
    }

    &--danger {
        background-color: #FFD7D7;
        color: $color-red-600;

        &:hover {
            background-color: darken(#FFD7D7, 5%);
        }
    }

    &--secondary {
        background-color: $color-blue-500;
        color: $color-white;

        &:hover {
            background-color: darken($color-blue-500, 5%);
        }

        &-inverted {
            background-color: $color-white;
            color: #565F82;

            &:hover {
                background-color: darken($color-white, 5%);
            }
        }
    }

    &--grayscale {
        background-color: #E8ECF4;
        color: $color-primary-600;

        &:hover {
            background-color: darken(#E8ECF4, 5%);
        }
    }

    &--no-bg {
        color: $color-primary-300;
        border: 1px solid $color-primary-50;

        &:hover {
            color: darken($color-primary-300, 7%);
            border: 1px solid darken($color-primary-300, 7%);
        }

        &-inverted {
            border: 1px solid $color-blue-50;
            color: $color-primary-100;

            &:hover {
                border-color: lighten($color-primary-100, 5%);
                color: lighten($color-primary-100, 5%);

            }
        }
    }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    @include quicksand;
     margin: 0;
     padding: 0;
     font-weight: $fw-regular;
     color: $color-blue-900;
}

h2 {
    @include roboto();

    margin-bottom: $base * 4;    
    font-size: $fs-xxs;
    text-transform: uppercase ;
}

.section-subtitle {
    @include quicksand();

    margin-bottom: $base * 7;
    font-size: $base * 12;
    color: $color-blue-900;
}

.ta-c {
    text-align: center;
}

.dots {
    @include list-null();

    display: flex;
    justify-content: center;

    &__item {
        width: $base * 2;
        height: $base * 2;
        border-radius: 100%;
        background-color: #D1D6E3;
        transition: $transition;
        cursor: pointer;

        &--active {
            background-color: $color-blue-600;
        }
        & + & {
            margin-left: $base * 3;
        }
    }
}

.btn-group {
    display: inline-flex;

    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        display: flex;
        align-items: center;
        flex-grow: 1; 
        margin-left: $base * 18;

        .section-header & {
            @media (max-width: $breakpoint-md-max) {
                display: none;

                position: absolute;
                z-index: 10;
                top: 100%;
                right: 0;
                left: 0;
                margin-left: 0;
                padding: $base * 5;
                background-color: $color-white;
            }
        }

        // .section-footer  & {

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;

            .socials,
            .nav {
                margin-bottom: $base * 4;
            }

            &,
            .socials,
            .btn-wrapper {
                margin-left: 0;
            }
        }

        

    }

    @media (max-width: $breakpoint-md-max) {
        .section-footer  & {
            flex-direction: column;
        }
    }
}
// Common ends 

// HEADER
.section-header {
    position: relative;

    .section-inner {
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xs;
    }
}

.btn-burger {
    display: none;
    margin-left: auto;

    &__line {
        display: block;
        width: $base*4;
        height: $base/2;
        background-color: $color-blue-100;

        & + & {
            margin-top: $base;
        }
    }

    @media (max-width: $breakpoint-md-max) {
        display: block;
    }
}

.logo {
    &__link {
        display: block;
        width: $base * 6;
        height: $base * 6;
        background-color: $color-blue-400;
        border-radius: 100%;
    }
}

.nav {
    
}

.nav-wrapper {
    @include list-null();

    display: flex;

    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            @include quicksand;
            font-style: $fs-xs;
            font-weight: $fw-medium;
            color: $color-primary-900;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: $color-blue-200;
                font-weight: $fw-bold;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-blue-200;
            }
        }
    }
}

.socials {
    margin-left: auto;
}
.socials-wrapper {
    @include list-null();

    display: flex;
    align-items: center;
    
    
    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            path {
                fill: $color-primary-900;
                transition: $transition; 
            }
            

            &:hover {
                path {
                    fill: $color-blue-200;
                }
                
            }
           
        }
    }
}

.btn-wrapper {
    margin-left: $base * 11;
}
// HEADER ENDS

// HERO-IMAGE
.section-hero-image {
    background-color: #f4f7ff;
    position: relative;
    padding: 0;

    .dots {
        position: absolute;
        bottom: $base * 7;
        left: 50%;
        transform: translateX(-50%);
    }
}

.slider__hero-image {
    @include list-null;

    &__item {
        height: $base * 140;
        text-align: center; 
        background-size: cover;
        background-position: 50% 100%;

        &-content {
            .section-subtitle {
                font-weight: $fw-light;

                span {
                    font-weight: $fw-medium;
                }
            }

            .text {
                max-width: 60%;
                margin: 0 auto $base*5;
                line-height: 2;
            }
        }
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $base * 13;
    height: $base * 13;
    border-radius: 100%;
    background-color: $color-white;
    box-shadow: 0px $base*2 $base*12 rgba(201, 209, 231, 0.6);

    svg {
        width: $base * 3;
        height: $base * 3;

        fill: #5E81FF; 
    }
}
// HERO-IMAGE ENDS

// CUSTOMERS
.section-customers {
    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;

        a {
            transition: $transition;
            opacity: .3;

            &:hover {
                opacity: 1;
            }
        }
    }
}
// CUSTOMERS ENDS

// PLAN-AND-MANAGE
.section-plan-and-manage {
    background-color: #f5f8ff;
    position: relative;
    overflow: hidden;

    &__content {
        width: 50%;
        

        .aside-image {
            position: absolute;
            top: 10%;
            left: 45%;
        }

        .section-subtitle {
            font-weight: $fw-medium;

            span {
                font-weight: $fw-regular;
            }
        }

        .text {
            margin-bottom: $base * 12;
            line-height: 2;
        }

        .btn-group {
            svg {
                margin-left: $base;
            }
        }
    }

}
// PLAN-AND-MANAGE ENDS

// FEATURES
.section-features {
    background: url(../img/clouds.svg) no-repeat 50% 50%;

    .section-subtitle {
        font-weight: $fw-medium;
        font-size: $base * 6 ;
        margin-bottom: $base * 25;
    }

    .btns {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .features-list {
        @include list-null();   

        display: flex;
        /* justify-content: space-around; */
        text-align: center;
        margin: 0 0 $base*25;


        &__item {
            flex-basis: 25%;
            position: relative;

            &:not(:first-child) {
                margin-left: $base * 10;
            }

            &:not(:first-child)::before {
                position: absolute;
                content: '';
                top: $base * 30;
                left: -34px;
                height: 1px;
                width: $base * 7;
                background-color: #DAE4FE;
            }

            &-icon {
                display: flex;
                margin: 0 auto $base*8;
                justify-content: center;
                align-items: center;

                width: $base * 17;
                height: $base * 17;
                border-radius: 100%;
                background-color: #F1F5FF;
            }

            &-title {
                @include roboto();

                font-weight: $fw-bold;
                font-size: $fw-bold;
                color: $color-blue-800;
                margin-bottom: $base*8;
            }

            &-text {
                line-height: 2;
                margin: 0 auto $base*7;
            }
        }
    }

}

.or-block {
    display: inline-flex;
    align-items: center;
    margin: 0 $base*4;
    font-weight: $fw-medium;
    font-size: $fs-xs;
    line-height: $base * 10;

    &::before,
    &::after {
        content: '';
        width: $base * 4;
        height: 1px;
        background-color: #DAE4FE; 
    }

    &::before {
        margin-right: $base * 4;
    }

    &::after {
        margin-left: $base * 4;
    }
}
// FEATURES ENDS

// STATS
.section-stats {
    background-color: #e9efff;
    display: flex;
    padding: 0;

    &__icon {
        margin-bottom: $base * 6;
    }

    &__number {
        @include quicksand();

        font-size: $fs-xxl;
        font-weight: $fw-regular;
    }


    &__text {
        @include quicksand();

        width: 50%;
        font-size: $fs-m;
        font-size: $fs-l;
        font-weight: $fw-medium;
        line-height: 1.5;

        @media (min-width: $breakpoint-lg-min) {
            width: 50%;
        }
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: $base*16 $base*22;
    }

    &__left {
        align-items: flex-end;
        text-align: right;
        background-color: #6988FF;
        color: $color-white;

        h3 {
            color: $color-white;
            font-weight: $fw-medium;
            font-size: $base * 12;
            margin-bottom: $base * 8;
        }
    }

    &__right {
        text-align: left;
        background-color: #E9EFFF;
        color: $color-blue-300;

        h3 {
            color: $color-blue-300;
            font-weight: $fw-medium;
            font-size: $base * 12;
            margin-bottom: $base * 8;
        }
    }
}
// STATS ENDS

// BLOG
.section-blog {
    background-color: #F5F8FF;

    .section-subtitle {
        font-size: $fs-l;
        font-weight: $fw-light;
        margin-bottom: $base * 24;
    }

    h3 {
        @include quicksand();

        font-size: $fs-xl;
        margin-bottom: $base * 8;
    }


}

.slider-wrapper {
    margin-bottom: $base * 25;
    position: relative;
}

.slider-blog {
    @include list-null();

    border: 1px solid $color-primary-50;
    background-color: $color-white;
    box-shadow: 0px $base*3 $base*12 #EFF4FF;

    &__item {
        display: flex;
        justify-content: space-between;
        padding: $base*16 $base*8;

        &-gallery,
        &-content {
            flex-basis: 45%;
        }

        &-gallery {
            display: grid;
            grid-template-rows: repeat(2, $base*30);
            grid-template-columns: repeat(3, $base*30);
            grid-gap: $base*4;

            .image-link {
                display: block;
                position: relative;
                border-radius: $base; 
                overflow: hidden;
                box-shadow: 0px $base*4 $base*25 0px #E5EBF8;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    background: $color-white url(../img/loup-min.svg) no-repeat 50% 50%;
                    width: $base * 16;
                    height: $base * 16;
                    border-radius: 100%;

                    opacity: 0;
                    transition: $transition;
                }

                &:hover::after {
                        opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: .5;
                }

                &--b {
                    grid-row: 1 / 3;
                    grid-column: 1 / 3;
                    
                    &::before {
                        background: linear-gradient(transparent, $color-yellow-500);
                    }
                }

                &--s-1 {
                    grid-row: 1 / 2;
                    grid-column: 3 / 4;
                    
                    &::before {
                        background: linear-gradient(transparent, $color-red-500);
                    }
                }
                &--s-2 {
                    grid-row: 2 / 3;
                    grid-column: 3 / 4;

                    &::before {
                        background: linear-gradient(transparent, #35AAFF);
                    }
                }
            }
        }

        &-content {

            .title {
            }
            .text {
                font-size: $fs-s;
                line-height: 2;
                margin-bottom: $base * 10;
            }

        }
    }
}

.btn-blog {
    position: absolute;
    top: 50%;
    display: block;
    width: $base * 10;
    height: $base * 10;
    background: url(../img/arrow.svg) no-repeat 50% 50%;

    &--prev {
        right: 100%;
        margin-right: $base * 16;
        transform: translateY(-50%);
    }

    &--next {
        left: 100%;
        margin-left: $base * 16;
        transform: translateY(-50%) rotate(180deg);
        
    }

    @media (max-width: $breakpoint-lg-max) {
       display: none;
    }
}
// BLOG ENDS

// QUOTES
.section-quotes {
    background: linear-gradient(#eaebff, #f6f9ff);

    .section-inner {
        display: flex;
        justify-content: space-between;
    }

    .section-subtitle {
        @include quicksand();

        font-weight: $fw-light;
        font-size: $fs-xl;

        margin-top: $base * 8;
    }

    &__left,
    &__right {
        flex-basis: 45%;
    }

    &__left {
        .text {
             line-height: 2;
        }
    }
}

.slider-quotes {
    @include list-null();

    margin-bottom: $base*20;

    &__item {
        position: relative;
        padding: $base*10 $base*17 $base*15;
        border: 1px solid $color-primary-50;
        background-color: $color-white;
        box-shadow: 0px $base $base*12 0px #F3F5FA;

        &-text {
            font-size: $fs-s;
            line-height: 2;
            color: $color-primary-800;
        }
        &-photo {
            $heigth: $base * 15;
            
            position: absolute;
            top: 100%;
            left: 50%;
            width: $heigth;
            height: $heigth;
            border-radius: 100%;
            overflow: hidden;
            background-color:$color-white;
            transform: translate(-50%, -$heigth/2);
        }
    }
}
// QUOTES ENDS

// FAQ
.section-fag {

    .section-subtitle {
        @include quicksand();

        font-weight: $fw-light;
        font-size: $base * 6;
        margin-bottom: $base * 17;
    }

    .faq-accordion {
        @include list-null();

        &__item {
            $parent: &;

            border-bottom: 1px solid $color-primary-50;

            &--active {
                .arrow {
                    stroke: $color-primary-900;
                } 

                #{$parent}-content {
                    display: flex;
                }

                #{$parent}-trigger {
                    color: $color-primary-900;
                    font-weight: $fw-bold;

                    &-icon {
                        transform: rotate(0);
                    }
                }
            }

            &-trigger {
                display: flex;
                cursor: pointer;
                padding: $base*4;

                &-icon {
                    width: $base*4;
                    text-align: center;
                    margin-right: $base * 4;
                    transform: rotate(180deg);

                    .arrow {
                        stroke: $color-primary-400;
                    }
                }
                &-text {
                    font-size: $fs-s;
                }
            }

            &-content {
                display: none;
                padding: 0 $base*4 $base*4 $base*12;

                &-text {
                    flex-grow: 1;
                    font-size: $fs-s;
                    line-height: 2;
                }
                &-btn {
                    margin-left: $base * 15;
                }
            }
        }
    }
}
// FAQ ENDS

// GET-STARTED
.section-get-started {
    position: relative;
    color: $color-white;
    background: linear-gradient($color-blue-100, $color-blue-300);
    text-align: center;

    h2 {
        color: #fff;
    }

    h3 {
        color: $color-white;

        span {
            font-weight: $fw-medium;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background: url(../img/clouds-get-started.svg) no-repeat 50% 50%;
    }

    .section-inner {
        position: relative;
        z-index: 10;
    }

    .text {
        max-width: 60%;
        margin: 0 auto $base*10;
        line-height: 2;
    }
}
// GET-STARTED ENDS

// NEWSLETTER
.section-newsletter {
    background-color: #fcfdff;

    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        flex-basis: 35%;

        &-title {
            @include quicksand();

            font-size: $fs-m;
            font-size: $fs-l;
            font-weight: $fw-bold;
            color: $color-blue-900;

            margin-bottom: $base * 4;
        }

        &-text {
            line-height: 2;
            font-size: $fs-s;
        }
    }
    &__right {
        flex-basis: 60%;
    }
}

.form-newsletter {
    display: flex;

    .input {
        flex-grow: 1;
    }

    .btn {
        margin-left: $base * 3;
        background-color: #4D6CE1;
        box-shadow: 0px $base $base*4 0px #7468FF33;

        &:hover {
            background-color: darken(#4D6CE1, 5%);
        }
    }
}
// NEWSLETTER ENDS

// FOOTER
.section-footer {
    border-bottom: none;
    .section-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }

    @media (max-width: $breakpoint-md-max) {
        .logo__link {
            margin-bottom: $base * 4;
        }
    }
}

.copyright {
    @include quicksand;

    font-size: $fs-xs;
    font-weight: $fw-medium;

    margin-top: $base * 7 ;
    margin-left: $base * 24 ;
    color: $color-primary-200;

    @media (max-width: $breakpoint-md-max) {
        margin-left: 0;
        text-align: center;
    }
}
/* // FOOTER END */