@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');


// Mixin
@mixin roboto {
    font-family: 'Roboto', sans-serif; 
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}
// Mixin ends

// Variables
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px ;
$fs-md: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-devider: #d8e3fe;

$transition: .2s;

$color-primary: #697ca6;
$color-secondary: #6988FF;
// Variables ends

// Common
body {
    @include roboto;

    color: #8d968d;
}

.section-outer {
    border-bottom: 1px solid $color-devider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.btn {
    @include quicksand;

    font-weight: $fw-bold;
    font-style: $fs-sm;

    margin: 0;
    padding: $base*3 $base*4;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    background-color: none;
    transition: $transition;

    &--primary {
        background-color: #D2E1FF;
        color: #3A79FF;

        &:hover {
            background-color: darken(#D2E1FF, 5%);
        }
    }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    @include quicksand;
     margin: 0;
     padding: 0;
     font-weight: $fw-regular;
     color: #3D4F9F;
}

h1, 
h2 {
    margin-bottom: $base * 7;
    font-size: 48px;}

h3 {font-size: 36px;}

h4 {font-size: 24px;}

h5 {
    margin-bottom: $base * 4;
    @include roboto();
    font-size: 10 px;
}

.ta-c {
    text-align: center;
}

.dots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        width: $base * 2;
        height: $base * 2;
        border-radius: 100%;
        background-color: #D1D6E3;
        transition: $transition;
        cursor: pointer;

        &--active {
            background-color: #5283FF;
        }
        & + & {
            margin-left: $base * 3;
        }
    }
}
// Common ends

// HEADER
.section-header {
    .section-inner {
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xs;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    width: $base * 6;
    height: $base * 6;
    background-color: #5E81FE;
    border-radius: 100%;
}

.nav {
    margin-left: $base * 18;
}

.nav-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            @include quicksand;
            font-style: $fs-sm;
            font-weight: $fw-medium;
            color: $color-primary;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: $color-secondary;
                font-weight: $fw-bold;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }
        }
    }
}

.socials {
    margin-left: auto;
}
.socials-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            path {
                fill: $color-primary;
                transition: $transition; 
            }
            

            &:hover {
                path {
                    fill: $color-secondary;
                }
                
            }
           
        }
    }
}

.btn-wrapper {
    margin-left: $base * 11;
}
// HEADER ENDS

// HERO-IMAGE
.section-hero-image {
    background-color: #f4f7ff;
    position: relative;

    .dots {
        position: absolute;
        bottom: $base * 7;
        left: 50%;
        transform: translateX(-50%);
    }
}

.slider__hero-image {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        height: $base * 140;
        text-align: center; 
        background-size: cover;
        background-position: 50% 100%;

        &-content {
            h2 {
                font-weight: $fw-light;

                span {
                    font-weight: $fw-medium;
                }
            }

            .text {
                width: 60%;
                margin: 0 auto $base*5;
                line-height: 2;
            }
        }
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $base * 13;
    height: $base * 13;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);

    &::before {
        display: block;
        width: 0;
        height: 0;
        margin-left: $base * 4;
        content: '';
        border-width: $base*2 $base*3 ;
        border-style: solid;
        border-color: transparent;
        border-left-color: #5E81FF;
    }
}
// HERO-IMAGE ENDS

// CUSTOMERS
.section-customers {
    .section-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;

        a {
            transition: $transition;
            opacity: .3;

            &:hover {
                opacity: 1;
            }
        }
    }
}
// CUSTOMERS ENDS

// PLAN-AND-MANAGE
.section-plan-and-manage {
    background-color: #f5f8ff;
}
// PLAN-AND-MANAGE ENDS

// FEATURES
.section-features {

}
// FEATURES ENDS

// STATS
.section-stats {
    background-color: #e9efff;

    .section-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}
// STATS ENDS

// BLOG
.section-blog {

}
// BLOG ENDS

// QUOTES
.section-quotes {

}
// QUOTES ENDS

// FAQ
.section-fag {

}
// FAQ ENDS

// GET-STARTED
.section-get-started {

}
// GET-STARTED ENDS

// NEWSLETTER
.section-newsletter {

}
// NEWSLETTER ENDS

// FOOTER
.section-footer {
    border-bottom: none;
    .section-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}

.copyright {
    @include quicksand;

    font-size: $fs-sm;
    font-weight: $fw-medium;

    margin-top: $base * 7 ;
    margin-left: $base * 24 ;
    color: #AEB8D0;
}
/* // FOOTER END */