@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: #8d968d;
}

.section-outer {
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-inner--wide {
  max-width: 1200px;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: 12px;
  margin: 0;
  padding: 12px 16px;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  background-color: none;
  transition: 0.2s;
}
.btn--primary {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.btn--primary:hover {
  background-color: #b9d0ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #3D4F9F;
}

h1,
h2 {
  margin-bottom: 28px;
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 10 px;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dots__item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #D1D6E3;
  transition: 0.2s;
  cursor: pointer;
}
.dots__item--active {
  background-color: #5283FF;
}
.dots__item + .dots__item {
  margin-left: 12px;
}

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  background-color: #5E81FE;
  border-radius: 100%;
}

.nav {
  margin-left: 72px;
}

.nav-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 40px;
}
.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  font-style: 12px;
  font-weight: 500;
  color: #697ca6;
  text-decoration: none;
  transition: 0.2s;
}
.nav-wrapper__item-link:hover {
  color: #6988FF;
  font-weight: 700;
}
.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6988FF;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 40px;
}
.socials-wrapper__item-link path {
  fill: #697ca6;
  transition: 0.2s;
}
.socials-wrapper__item-link:hover path {
  fill: #6988FF;
}

.btn-wrapper {
  margin-left: 44px;
}

.section-hero-image {
  background-color: #f4f7ff;
  position: relative;
}
.section-hero-image .dots {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider__hero-image__item {
  height: 560px;
  text-align: center;
  background-size: cover;
  background-position: 50% 100%;
}
.slider__hero-image__item-content h2 {
  font-weight: 300;
}
.slider__hero-image__item-content h2 span {
  font-weight: 500;
}
.slider__hero-image__item-content .text {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 2;
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}
.icon-play::before {
  display: block;
  width: 0;
  height: 0;
  margin-left: 16px;
  content: "";
  border-width: 8px 12px;
  border-style: solid;
  border-color: transparent;
  border-left-color: #5E81FF;
}

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-plan-and-manage {
  background-color: #f5f8ff;
}

.section-stats {
  background-color: #e9efff;
}
.section-stats .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-footer {
  border-bottom: none;
}
.section-footer .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-top: 28px;
  margin-left: 96px;
  color: #AEB8D0;
}

/* // FOOTER END */